{% extends "base.html" %}



{% block content %}
   

<div class="wrapper" >
    <h1 style=" color: #F25F5C; font-size: 6em; font-weight: bold;" >projects</h1>
    <h1 style=" color: #fff; font-size: 1.5em; font-family: 'Caveat', cursive;" >All of my public projects</h1>

    <div style="margin-top: 2em;" class="row">
        <div class="projectcard">
            <img src="/static/images/projects/Ridiculouslifetips2.svg">
            <div class="textcard">
                <p style=" font-weight: bold;">Ridiculous Life Tips</p>
                <p>Ridiculous Life Tips is an app which is meant to put a smile on your face. There is a lot of different life tips, some of the life tips can be unethical or just quite bad, but they're funny and ridiculous in their own way.</p>

            </div>
        </div>

    </div>


</div>



{% endblock %}
