#backgrounder{
  height: 100vh;
  background-image: url(/static/images/background.png);
  background-size: 105% 105%;
  background-position: center center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: shrink 1s alternate forwards;
}
.container-fluid{
  width: 100%;
  z-index: 1;
}

.projectcard{
  
  width: 18em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.projectcard:hover{
  transform: scale(1.1) rotate(2deg);
}
.projectcard img{
  border-radius: 1em 1em 0em 0em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.projectcard p{
  margin: .3em;
  text-align: center;
  max-width: 33em;
}
.projectcard .textcard{
  border-radius: 0em 0em 1em 1em;
  position: fixed;
  width: 18em;
  background-color: #FFF;
  border-bottom: 1em;
}





@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
@keyframes shrink {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 105% 105%;
  }
}
.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.inline{
  display: inline;
}

h1{
  color: #F25F5C;
  float: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h5{
  color: #F25F5C;
}
.header{
  background-color: #F25F5C;
  margin: 0 auto;
  width: fit-content;
  border-radius: 1em;
  box-shadow: #f6f6f6 1px 5px;
}
.header h1{
  color: #fff;
}


.indexicon{
  width: 4em;
  margin: 1em;
  transition: all 0.2s ease-in-out;
}
.indexicon:hover{
  transform: scale(1.1) rotate(10deg);
}


a {
  color: #190B28;
  text-decoration: none;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  margin-top: 2em;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  animation: wrapperAnimation 1s;
}
.loginform{
  width: 20em;
  margin: 0 auto;
  display: block;
}
#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #FFF;
  padding: 1em;
  width: 20em;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
#formContent2 {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #FFF;
  padding: 1em;
  width: 21em;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
.files{
  margin: 1em;
  margin-top: 0;
}

.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}
.astextroot{
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: #F25F5C;
  font-size: 4em; 
  font-weight: bold;
}
.astext:focus{
  outline: none;
}



.downloadForm h1,
.downloadForm a{
  margin:0px;
  display: inline-block;
  padding:1em;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
}
.downloadForm h1{
  font-weight: bold;
  float: left;
}
.downloadForm a{
  text-align:right;
  padding-right:2em;
  color: inherit;
  float:right;
}

@keyframes wrapperAnimation{
  from {opacity: 0;}
  to {opacity: 100;}
}
#cloudface{
  border-radius: 10px;
  background-color:	#43566e;
}
#cloudface p{
  color: #fff;
}
.cloudobject{
  padding: 1em;
  vertical-align: middle;
}
#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* FORM TYPOGRAPHY*/

.authbutton{
  background-color: #1F2833;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 #56708e;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 10px 20px;
  font-family: 'raleway', sans-serif;
  transition: all 0.3s ease-in-out;
}
.authbutton:hover{
  background-color: #F25F5C;
}
.authbutton:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.authtext{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.authtext:focus{
  outline-width: 0;
  background-color: #fff;
  border-bottom: 2px solid #F25F5C;
}
.authtext::placeholder{
  color: #7991ae;
}

.border{
  margin: 1em;
  border: solid #1F2833 1px;
}

.cloudbutton{
  background-color: #1F2833;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 #56708e;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 10px 20px;
  transition: all 0.3s ease-in-out;
}
.cloudbutton:hover{
  background-color: #F25F5C;
}

.custom-file-upload {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.custom-file-upload:hover{
  transform: rotate(15deg) scale(1.1);
}
.edit-file-icon{
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0.1;
}
.edit-file-icon:hover{
  transform: rotate(15deg) scale(1.1);
  opacity: 1;
}
.hidden-submit{
  visibility: hidden;
}
.bytes-animation{
  color: #1F2833;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}
.bytes-animation:hover{
  opacity: 1;
  transform: scale(1.05);
}

.cloudicon{
  width: 2em;
  height: 2em
}

.popup{
  display: none;
}
.popup input[type='file']{
  display: none;
}

.removefilebtn{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

}
.customchoosefile{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1em;
  height: 3em;
  padding: 5px 0px;
  width: 8em;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.customchoosefile:hover{
    outline-width: 0;
  background-color: #fff;
  border-bottom: 2px solid #F25F5C;
  transform: scale(1.05);
}

.popupfoldertext{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 85%;
  padding: 5px 0px;
  margin: 1em;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.popupfoldertext:focus, .popupfoldertext:hover{
  outline-width: 0;
  background-color: #fff;
  border-bottom: 2px solid #F25F5C;
}

.popupfoldertext::placeholder{
  color: #1F2833;
}
.cloudmanuel{
  animation: fadein 0.5s;
}
@keyframes fadein{
  from{opacity: 0;}
  to {opacity: 1;}
}

.clouditem{
  text-align: center;
  margin: 0;
  padding: 5px;
  border-radius: 1em;
  transition: all 0.1s ease-in-out;
}
.clouditem:hover{
  background-color: #ced7e1;
}