
.container{
    background: #eee;
    margin: 0 auto;
    text-align: center;
    min-height: 100%;
    height: 100%;
    padding: 10%;
}
.cloudicon{
    height: 5em;
}
.popup{
    display: none;
    z-index: 9;
}
.popupitem{
    position: fixed;
    background-color:  #1F2833;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #fff;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.popupitem:focus{
    transform: scale(10);
}
.popupitem::placeholder{
    color: #eee;
}
