
{% extends "base.html" %}

{% block content %}
    
    
    <div class="wrapper">
        
        <div id="formContent2">
            <form action="/cloud" method="POST">
                <input type="submit" name="change_root" value="cloud" class="astextroot"></input>
            </form>
          
            

            <h5>{{ user_cloud.show_selected_folder() }}</h5>
            <h6  style="font-weight: bold;">{{ user_cloud.get_storage() }} / {{ user_cloud.get_storage_limit() }} </h6>
            
            <div class="cloudmenus" >

                <div  onclick="filepopup()">
                    <div class="float-left custom-file-upload">
                        <img class="cloudicon"  src="/static/icons/add_file.svg" />
                    </div>
                </div>

                <div onclick="folderpopup()">
                    <div class="float-right custom-file-upload">
                        <img class="cloudicon"  src="/static/icons/add_folder.svg" />
                    </div>
                </div>

                    <div class="clearfix"></div>

                <div class="popup" id="popupfolder">
                    <form action="/cloud" method="POST">
                        <div>
                            <input maxlength="12" type="text" class="cloudmanuel popupfoldertext" id="newfoldername" name="newfoldername" placeholder="New Folder Name">
                        </div>
                        <input type="submit" id="submitfolder" style=" visibility: hidden; background: none; border: none; cursor: pointer; font-size: 0px;">
                    </form>
                </div>
                
                <div class="popup" id="popupfile">
                    <form action="/cloud" method="POST" enctype="multipart/form-data">
                        <div>
                            <label class="cloudmanuel customchoosefile">
                                <input  id="file_upload" type="file" name="file_upload" onchange="fileuploaded()">
                                Choose File
                            </label>
                        </div>
                        <input type="submit" id="submitfile" style="visibility: hidden; background: none; border: none; cursor: pointer; font-size: 0px;">
                    </form>
                </div>

                <div style="margin: 5px;" class="border"></div>
            </div>
            


            
            <div class="files">
                {% if user_cloud.has_files() %}
                    {% for i in user_cloud.files[0][1]: %}
                    <div>

                        <form action="/cloud" method="POST">
                            <input style="color: #1F2833;" type="submit" name="change_folder" value="{{ user_cloud.parse_filename(i,0) }}" class="clouditem astext float-left"></input>
                           
                            <div class="float-right" onclick="deleteItem('{{ i }}')">
                                <div class="edit-file-icon">
                                    <img src="/static/icons/delete.svg" />
                                </div>
                            </div>
                            <div class="float-right" onclick="editItem('{{ i }}')">
                                    <div class="edit-file-icon">
                                        <img src="/static/icons/edit.svg" />
                                    </div>
                            </div>
                            
                        <p  class="bytes-animation float-right">{{ user_cloud.get_size(i) }}</p>
                        <div class="clearfix"></div>
                        <form method="POST" action="/cloud">
                        
                        </form>
                    </div>
                    {% endfor %}

                    {% for i in user_cloud.files[0][2]: %}
                    <div>
                        <a style="color: inherit;color: #F25F5C;" target="_blank"  href="/{{ user_cloud.download_file(i) }}" class="clouditem float-left">{{ user_cloud.parse_filename(i,1) }}</a>
                        
                        <div class="float-right" onclick="deleteItem('{{ i }}')">
                            <div class="edit-file-icon">
                                <img src="/static/icons/delete.svg" />
                            </div>
                        </div>
                        <div class="float-right" onclick="editItem('{{ i }}')">
                                <div class="edit-file-icon">
                                    <img src="/static/icons/edit.svg" />
                                </div>
                        </div>
                        
                        <p  class="bytes-animation float-right">{{ user_cloud.get_size(i) }}</p>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>There is no files in {{ user_cloud.get_folder() }}</p>
                    

                {% endif %}


    
                {% if SELECTED_FOLDER|length > 1: %}
                <div class="custom-file-upload">
                    <form action="/cloud" method="POST">
                        <input style="width: 2em; height: 2em;" type="image" src="/static/icons/go_back.svg" alt="submit" name="back"  value="back"></input>
                    </form>
                </div>
                {% endif %}
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <p style="text-align: center; color: #F25F5C">{{ messages[0]}}</p>
                    {% endif %}
                {% endwith %}

                <form  action="/cloud" method="POST">
                    <input id="delete_button" name="delete" type="submit" class="hidden-submit">
                </form>
            
                <form  action="/cloud" method="POST">
                    <input id="edit_button" name="edit" type="submit" class="hidden-submit">
                </form>


            </div>
    </div>

    <script>
        function folderpopup(){
            i = document.getElementById('popupfolder');
            y = document.getElementById('popupfile');
            if (getComputedStyle(y, null).display == 'none'){
                display = getComputedStyle(i, null).display;
                if (display == 'none'){
                    i.style.display = 'block';
                } else {
                    i.style.display = 'none';
                }
            }else{
                i.style.display = 'block';
                y.style.display = 'none';
            }
        }
        function filepopup(){
            i = document.getElementById('popupfile');
            y = document.getElementById('popupfolder');
            if (getComputedStyle(y, null).display == 'none'){
                display = getComputedStyle(i, null).display;
                if (display == 'none'){
                    i.style.display = 'block';
                } else {
                    i.style.display = 'none';
                }
            } else{
                i.style.display = 'block';
                y.style.display = 'none';
            }
        }
        function fileuploaded(){
            document.getElementById('submitfile').click()
        }


        // Get the input field
        var input = document.getElementById("newfoldername");

        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function(event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("submitfolder").click();
        }
        });

        function deleteItem(i){
            let y = document.getElementById('delete_button')
            y.value = i;
            let x = confirm('Delete ' + i + " ?")
            if (x == true){
                y.click()
            }
            console.log(y)
        }
        function editItem(i){
            let y = document.getElementById('edit_button')
            let x = prompt('Assign a new name for ' + i)

            if (!x == null || !x == ''){
                y.value = String(i + "," + x)
                y.click();
            }
            console.log(y)
        }




    </script>
    
{% endblock %}
