
{% extends "base.html" %}

{% block content %}
    
    
    <div class="wrapper">
        <div id="formContent2">
            <h1 style=" color: #F25F5C; font-size: 4em; font-weight: bold; line-height: 2em;" >uploads</h1>
                <div class="downloadForm">
                    <h1 style="float: left;">Adobe Pack</h1>
                    <a style="float: right;" href="/uploads/Adobe.zip">Download</a>
                </div>
                <div class="downloadForm">
                    <h1 style="float: left;">FL Studio</h1>
                    <a style="float: right;" href="/uploads/FL-Studio.zip">Download</a>
                </div>
                
                
                

                
                
                

            
            
        </div>
        
    </div>
    
{% endblock %}
