
    {% extends "base.html" %}

    {% block content %}

    <div class="wrapper">
        
        <div id="formContent">
            <h1 style=" color: #F25F5C; font-size: 4em; font-weight: bold;" >PCS</h1>
            <h1 style=" color: #0B0C10; font-size: 1em; font-weight: lighter;" >Private Cloud Service</h1>
            <h1 style=" color: #0B0C10; font-size: 1em; font-weight: bold;" >Sign up</h1>
            
            <form action="/signup" method="POST">
                <input maxlength="50" type="text" id="email" class="authtext" name="email" placeholder="Email">
                <input maxlength="50" type="text" id="username" class="authtext" name="username" placeholder="Username" >
                <input maxlength="50" type="password" id="password" class="authtext" name="password" placeholder="Password" >
                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p style="color: #F25F5C">{{ messages[0]}}</p>
                {% endif %}
                {% endwith %}
                <input type="submit" class="authbutton" value="Register">
            </form>
            

                
            </div>
            
        </div>

    {% endblock %}
